# IDE configuration
.idea/
.vscode/

#OS files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
tmp/
temp/
*.tmp
*.log

# Uploaded files
server/uploads/images/*
!server/uploads/images/.gitkeep

# Sensitive configuration files
server/config/db_config.php

# Dependencies and build directories
node_modules/
vendor/
dist/
build/
