/* ====== User Dropdown Menu Fix ====== */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    display: none !important;
}

/* ====== Fixed Width for Centered Content ====== */
.navbar-nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-evenly;
}
